{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<h1> Neue Tour anlegen</h1>
<form method="POST">

{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens='only') }}

 <fieldset class="form-group">
 {{ wtf.form_field(form.event_name) }}
 {{ wtf.form_field(form.event_description) }}
 </fieldset>
 <div class="form-row">
 {{ wtf.form_field(form.start_date, group_css='col-md-4') }}
 {{ wtf.form_field(form.start_time, group_css='col-md-4') }}
 {{ wtf.form_field(form.end_date, group_css='col-md-4') }}
 </div>

 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0">Teilnehmer</legend>
        <div class="col-sm-5">
         {{ wtf.form_field(form.places) }}
        </div>
        <div class="col-sm-5">
         {{ wtf.form_field(form.waitlist) }}
        </div>
 </div>
 </fieldset>

 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0">Schwierigkeit</legend>
        <div class="col-sm-10">
            {{ wtf.form_field(form.difficulty, group_css='col-md-12') }}
        </div>
 </div>
 </fieldset>

 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-3 pt-0">Daten</legend>
        <div class="col-sm-3">
         {{ wtf.form_field(form.length_h) }}
        </div>
        <div class="col-sm-3">
         {{ wtf.form_field(form.length_km) }}
        </div>
        <div class="col-sm-3">
         {{ wtf.form_field(form.altitude_difference) }}
        </div>

 </div>
 </fieldset>

 <fieldset class="form-group">
 <div class="row">
    <div class="col-sm-12">
        {{ wtf.form_field(form.tour_link) }}
    </div>
 </div>
 </fieldset>


        {{ wtf.form_field(form.submit) }}

</form>

 <script src="/static/js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('event_description');
</script>
{% endblock %}
