{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_billing', event_id=event.id) }}">Abrechnung</a>
      </li>
      {% endif %}
    {% endif %}

    {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
      </li>

    {% endif %}
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h1>{{event.event_name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <p>{{event.event_description|safe}}</p>

    {% if higest_guide_level not in ['guide', 'youthguide'] or event.event_type == 'unguided'%}
    <div class="alert alert-warning" role="alert">
    Hier handelt es sich nicht um eine durch offizielle Guides geführte Tour.<br>
    Jeder Teilnehmer muss in der Lage sein, die Tour selbständig durchzuführen.
    </div>
    {% endif %}
    {% if higest_guide_level == 'youthguide' or event.event_type == 'youthguide' or event.event_category == 'jugend'%}
    <div class="alert alert-info" role="alert">
    Hier handelt es sich um eine durch Jugendleiter geführte Tour für Kinder oder Jugendliche.
    </div>
    {% endif %}

    </div>
</div>

<div class="row">
    <div class="table-responsive">
    <table class="table">
     {% for th, td, mode in event_details %}
        <tr>
         <th>{{ th }}</th>
         {% if mode == 'string' %}
         <td>{{ td }}</td>
         {% elif mode == 'table' %}
         <td>
         <table class='table'>
         {% for subtable in td %}
         <tr>
          {% for sub_th, sub_td in subtable %}
          <th>{{sub_th}}</th>
          <td>{{sub_td}}</td>
          {% endfor %}
         </tr>
         {% endfor %}
         </table>
         </td>
         {% endif %}
        <tr>
     {% endfor %}
    </table>
    </div>
</div>


{% if current_user.is_authenticated %}
 {% if not registration_enabled %}
    <div class="card">
      <div class="card-header">
        Die Registrierung für dieses event ist möglich ab 
        <b>{{ event.booking_from }} {{ event.booking_from_time }} </b> 
        bis <b>{{ event.booking_until }} {{ event.booking_until_time }}</b>
      </div>
    </div>
 {% else %}
    <div class="card">
      <div class="card-header">
        Anmeldung
      </div>
      <div class="card-body">
        <h5 class="card-title">Verbindliche Anmeldung zum Event</h5>
        <p class="card-text">Melde dich hier verbindlich zu unserem Event an</p>
        {% if current_user.participate_event(event_id) %}
        <div class="alert alert-warning" role="alert">
          Du hast dich bereits für dieses Event Angemeldet. Stelle sicher das du wirklich noch zusätzliche Plätze buchen willst.
        </div>
        {% endif %}
        <form method="POST">
            {{ regform.hidden_tag() }}
            {{ wtf.form_errors(regform, hiddens='only') }}

            <fieldset class="form-group">
             <legend>Kommentare:</legend>
                {{ wtf.form_field(regform.comment) }}
            </fieldset>
            {% if event_custom_fields %}
            <hr>
            <fieldset class="form-group">
             <legend>Weitere Daten:</legend>
            {% for idx, field in event_custom_fields %}
                {{ wtf.form_field(regform|attr('custom_'+idx)) }}
            {% endfor %}
            </fieldset>
            {% endif %}
            <hr>
            <fieldset class="form-group">
             <legend>Plätze:</legend>
            {% for ticket_id in event_ticket_ids %}
                {{ wtf.form_field(regform|attr('ticket_'+ticket_id)) }}
            {% endfor %}
            </fieldset>
            <hr>
            {{ wtf.form_field(regform.submit) }}
        </form>

      </div>
    </div>

    </p>
 {% endif %}

{% else %}
<div class="card">
  <div class="card-header">
    Nicht angemeldet
  </div>
  <div class="card-body">
    <h5 class="card-title">Bitte Anmelden oder Registrieren</h5>
    <p class="card-text">Um dich zum Event anzumelden, bitte authenifiziere dich mit der Seite</p>
    {{ wtf.quick_form(LoginForm) }}
    <br>
    <a href="{{ url_for('USER.page_user_create') }}" class="btn btn-secondary">Neu Registrieren</a>
  </div>
</div>
{% endif %}
{% endblock %}
