{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_billing', event_id=event.id) }}">Abrechnung</a>
      </li>
      {% endif %}
      {% endif %}
    {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
      </li>
    {% endif %}
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <h1>{{event.event_name}} ({{event.start_date.strftime("%d.%m.%Y") }})</h1>
</div>

<div class="row">
{% if bookings['confirmed'] %}
    <a type="button" class="btn btn-secondary" href="{{ url_for('EVENTS.page_participants_export', event_id=event.id) }}">Export CSV</a>&nbsp;
    <a type="button" class="btn btn-secondary" href="mailto:{{ ";".join(emails) }}?subject={{ event.event_name }}">Mail an Teilnehmer</a>
{% else %}
Keine Teilnehmer für Export oder Mail bestätigt
{% endif %}
</div>

<div class="row">
{% for booking_type in ['confirmed', 'unconfirmed', 'waitinglist'] %}
    {% if booking_type == 'confirmed' %}
        <h2>Bestätigte Teilnehmer</h2><br>
    {% elif booking_type == 'waitinglist' %}
        <h2>Teilnehmer auf Warteliste</h2>
    {% elif booking_type == 'unconfirmed' %}
        <h2>Unbestätigte Teilnehmer</h2>
    {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Teilnehmer</th>
          <th scope="col">Ticket</th>
          <th scope="col">Account</th>
          <th scope="col">Telefonnummer</th>
          <th scope="col">E-Mail Adressse</th>
        {% if current_user.has_right('guide') %}
          <th scope="col">Medien Optin</th>
          <th scope="col">Vereinsrolle</th>
          <th scope="col">Alter</th>
          <th scope="col">Extra Fragen</th>
          <th scope="col">Kommentar</th>
          <th scope="col">Buchung</th>
          <th scope="col">Optionen</th>
        {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for ticket in bookings[booking_type] if not ticket.is_extra_ticket%}
        <tr>
        <td>{{ loop.index }}</td>
         <td>{{ ticket.ticket_owner }}
         </td>
         <td>{{ ticket.ticket_info.name }}</td>
         <td>
          {% if current_user.has_right('guide') %}
          <a href="{{ url_for('EVENTS.page_mybooking', event_id=event.id, user_id=ticket.ticket_info.bucher_user_id) }}" class="badge badge-pill badge-info" style="text-decoration: none;">{{ticket.ticket_info.bucher }}</a>
          {% else %}
          <span class="badge badge-pill badge-info">{{ticket.ticket_info.bucher }}</span>
          {% endif %}
         </td>
         <td>
            {% if ticket.ticket_info.data_optin or current_user.has_right('guide')%}{{ticket.ticket_info.telefon}}
            {%else%} versteckt {% endif %}
        </td>
        <td>{% if ticket.ticket_info.data_optin or current_user.has_right('guide')%}
            <a href="mailto:{{ticket.ticket_info.email}}">{{ticket.ticket_info.email}}</a>
            {%else%} versteckt {% endif %}
        </td>
        {% if current_user.has_right('guide') %}
          <td>{{ translate_bool(ticket.ticket_info.media_optin) }}</td>
          <td>{{ ticket.ticket_info.role }}</td>
          <td>{{ age(ticket.ticket_info.birthdate) }}</td>
          <td>
            <table>
            {% for field in ticket.extra_questions %}
                <tr>
                 <th>{{ field[0] }}</th>
                 <td>{{ field[1] }}</td>
                </tr>
            {% endfor %}
            </table>
          </td>
          <td>{{ ticket.ticket_info.comment}}</td>
          <td>{{ticket.booking_date.strftime('%d.%m.%Y %H:%M')}}</td>
          <td>
            {% if booking_type != 'confirmed' %}
            <a href="#" class="job" data-job="confirm" data-ticket_id={{ ticket.id }}>Bestätigen</a></span>
            {% endif %}
            {% if booking_type != 'waitinglist' %}
            <a href="#" class="job" data-job="waitlist" data-ticket_id={{ ticket.id }}>Warteliste</a>
            {% endif %}
            <a href="#" class="job" data-job="delete" data-ticket_id={{ ticket.id }}>Löschen</a>
          </td>
        {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endfor %}
</div>

{% if current_user.has_right('guide') %}
<div class="row">
<h1>Weitere Daten</h1>
</div>

<div class="row">
{% for ticket_group, members in extra_tickets.items() %}
<div class="row">
    <h2>{{ ticket_group }}</h2>
</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</td>
            <th scope="col" style="width: 200px;">Teilnehmer</th>
          <th scope="col" style="width: 400px;">Kommentar</th>
          <th scope="col">Jahrgang</th>
          <th scope="col">Bezahlt</th>
          <th scope="col">Account</th>
          <th scope="col">Optionen</th>
        </tr>
      </thead>
      <tbody>
    {% for ticket_id, owner, comment, birthdate, is_paid, bucher, bucher_user_id in members %}
        <tr>
        <td>{{ loop.index }}</td>
         <td>{{ owner }}</td>
         <td>{{ comment }}</td>
         <td>{{ birthdate.strftime("%m/%Y") if birthdate else "" }}</td>
         <td>
           {% if is_paid %}
           <span class="badge badge-success">Ja</span>
           {% else %}
           <span class="badge badge-danger">Nein</span>
           {% endif %}
         </td>
         <td>
          {% if current_user.has_right('guide') %}
          <a href="{{ url_for('EVENTS.page_mybooking', event_id=event.id, user_id=bucher_user_id) }}" class="badge badge-pill badge-info" style="text-decoration: none;">{{ bucher }}</a>
          {% else %}
          <span class="badge badge-pill badge-info">{{ bucher }}</span>
          {% endif %}
         </td>
         <td>
            <a href="#" class="job" data-job="delete" data-ticket_id={{ ticket_id }}>Löschen</a>
         </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}

{% if current_user.has_right('guide') %}
<script type="text/javascript">
$(document).ready(function() {
    $('.job').click(function(e) {
        e.preventDefault();
        var self_data = $(this);
        var data = {
            'ticket_id': self_data.data('ticket_id'),
            'job': self_data.data('job'),
            'event_id': '{{ event.id }}',
        }
        $.post('/event/change_participants', data, function(res) {
            console.log(res);
            location.reload();
        });
    })
});
</script>
{% endif %}
{% endblock %}
