{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
<div id="filter" style="background-color: #e9ecef; border-radius: .3rem; padding: 5px; margin: 5px;">
 <b>Filter:</b>
 <form  action="{{ url_for('EVENTS.page_list') }}" method="POST">
  <div class="form-row">
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_name) }}
    </div>
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_category) }}
    </div>
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_date) }}
    </div>
    <div class="form-group col-md-3">
    <label class="form-control-label">Optionen</label>
    {{ wtf.form_field(search_form.filter_future) }}
    {% if current_user.is_authenticated %}
    {{ wtf.form_field(search_form.filter_own) }}
    {{ wtf.form_field(search_form.export) }}
    {% endif %}
    </div>
    <div class="form-group col-md-3">
        {{ wtf.form_field(search_form.filter_send) }}
        <a href="{{ url_for('EVENTS.page_list') }}" class="btn btn-secondary" role="button">Reset</a>
     {{ search_form.hidden_tag() }}
    </div>
  </div>
 </form>
</div>
<br>
   {% set weekdays = ["Mo.", "Di.", "Mi.", "Do.", "Fr.", "Sa.", "So."] %}
   {% set color = {
       'wandern' : 'rgb(217,181,67)',
       'mountain bike' : 'rgb(0,168,150)',
       'ski tour' : 'rgb(0,83,192)',
       'ski hochtour' : 'rgb(0,83,192)',
       'hochtour' : 'rgb(0,83,192)',
       'jugend' : 'rgb(198,23,24)',
       'gemischte touren' : 'rgb(217,181,167)',
       'fahrradtour' : 'rgb(217,181,67)',
       'klettern' : 'rgb(142,142,142)',
       'felsklettern' : 'rgb(142,142,142)',

       } %}
   <table class="table table-bordered">
    {% for event in events %}
    <tr>
      <td>
        {{ weekdays[event.start_date.weekday()] }}
        {{ event.start_date.strftime("%d.%m.%Y") }}
      </td>
      <td style="background-color: {{ color.get(event.event_category) }};">
        {{ event_categories[event.event_category] }}
        <br>
        <br>
        {% if event.length_h %}
            {{ event.length_h }} h
            <br>
        {% endif %}
        {% if event.length_km %}
            {{ event.length_km }} km
            <br>
        {% endif %}
        {% if event.altitude_difference %}
            {{ event.altitude_difference }} hm
            <br>
        {% endif %}
        <br>
        <br>
         T {{ render_dificulty(event.difficulty, 1) }}
        <br>
         K {{ render_dificulty(event.shape, 2)}}
        <br>
      </td>
      <td>
         <a href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">{{ event.event_name }}</a>
         <br>
         <br>

         {{ event.event_teaser }}

         <br>
         <br>
         Leiter:
         <ul>
         {% for guide in event.event_owners %}
          <li>{{guide.first_name}} {{guide.last_name}}</li>
         {% endfor %}
         </ul>
      </td>
    </tr>
   {% endfor %}
  </table>
{% endblock %}
