{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
{% if event %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% endif %}

    {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
      </li>
    {% endif %}

      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
     {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h1>{{event.event_name}}</h1>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
    <h1>Neues Event</h1>
    </div>
</div>
{% endif %}

<form method="POST">

{{ form.hidden_tag() }}
{{ wtf.form_errors(form, hiddens='only') }}

 <fieldset class="form-group">
 {{ wtf.form_field(form.event_name) }}
 {{ wtf.form_field(form.event_teaser) }}
 {{ wtf.form_field(form.event_category) }}
 {{ wtf.form_field(form.event_type) }}
 {{ wtf.form_field(form.event_description) }}
 </fieldset>
 <div class="form-row">
 {{ wtf.form_field(form.start_date, group_css='col-md-3') }}
 {{ wtf.form_field(form.start_time, group_css='col-md-3') }}
 {{ wtf.form_field(form.end_date, group_css='col-md-3') }}
 {{ wtf.form_field(form.end_time, group_css='col-md-3') }}
 </div>
 <div class="form-row">
 {{ wtf.form_field(form.booking_from, group_css='col-md-3') }}
 {{ wtf.form_field(form.booking_from_time, group_css='col-md-3') }}
 {{ wtf.form_field(form.booking_until, group_css='col-md-3') }}
 {{ wtf.form_field(form.booking_until_time, group_css='col-md-3') }}
 </div>


<hr>
 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0">Schwierigkeit</legend>
        <div class="col-sm-6">
            {{ wtf.form_field(form.difficulty, group_css='col-md-6') }}
        </div>
 </div>
 </fieldset>

 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0">Kondition</legend>
        <div class="col-sm-6">
            {{ wtf.form_field(form.shape, group_css='col-md-6') }}
        </div>
 </div>
 </fieldset>

 <fieldset class="form-group">
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0">Tourdaten</legend>
        <div class="col-sm-3">
         {{ wtf.form_field(form.length_h) }}
        </div>
        <div class="col-sm-3">
         {{ wtf.form_field(form.length_km) }}
        </div>
        <div class="col-sm-3">
         {{ wtf.form_field(form.altitude_difference) }}
        </div>

 </div>
 <div class="row">
       <legend class="col-form-label col-sm-2 pt-0"></legend>
        <div class="col-sm-3">
         {{ wtf.form_field(form.places) }}
        </div>
        <div class="col-sm-3">
         {{ wtf.form_field(form.min_places) }}
        </div>
 </div>
 </fieldset>
 <hr>
 <h2>Extra Fragen an Teilnehmer</h2>
<fieldset class="form-group">
<div id="custom_fields">
    {% for field in form.custom_fields %}
    {{ field.form.hidden_tag() }}
      <div class="fieldref" id="{{ field.id }}">
       <div class="row">
        <div class="col-sm-12">
         <div class="form-group">
             {{ field.form.field_name.label(class_="control-label") }}
             {{ field.form.field_name(class_="form-control") }}
         </div>
        </div>
       </div>
      </div>
    {% endfor %}
</div>
</fieldset>
<div id="add_field_row" class="row">
 <button type="button" id="add_field" class="btn pull-right glyphicon glyphicon-plus">Weitere Frage</button>
</div>
<hr>
 <h2>Tickets</h2>
<fieldset class="form-group">

<div id="tickets">
    {% for field in form.tickets %}
    {{ field.form.hidden_tag() }}
      <div class="ticketref" id="{{ field.id }}">
       <div class="row">

        <div class="col-sm-3">
         <div class="form-group">
             {{ field.form.name.label(class_="control-label") }}
             {{ field.form.name(class_="form-control") }}
         </div>
        </div>

        <div class="col-sm-3">
         <div class="form-group">
             {{ field.form.description.label(class_="control-label") }}
             {{ field.form.description(class_="form-control") }}
         </div>
        </div>

        <div class="col-sm-2">
         <div class="form-group">
             {{ field.form.price.label(class_="control-label") }}
             {{ field.form.price(class_="form-control") }}
         </div>
        </div>

        <div class="col-sm-2">
         <div class="form-group">
             {{ field.form.maximum_tickets.label(class_="control-label") }}
             {{ field.form.maximum_tickets(class_="form-control") }}
         </div>
        </div>

        <div class="col-sm-2">
         <div class="form-group form-check">
             <center>{{ field.form.is_extra_ticket.label(class_="form-check-label") }}</center>
             <center>{{ field.form.is_extra_ticket(class_="form-check-input") }}</center>
         </div>
        </div>

       </div>
      </div>
    {% endfor %}
</div>
</fieldset>
<div id="add_ticket_row" class="row">
 <button type="button" id="add_ticket" class="btn pull-right glyphicon glyphicon-plus">Weiteres Ticket</button>
</div>

<hr>
        {{ wtf.form_field(form.add_guide) }}
        {{ wtf.form_field(form.submit) }}

</form>

 <script src="/static/js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.config.simpleImageBase64allowed = true;
    CKEDITOR.replace('event_description', {
            height: 800,
        });
</script>
{% endblock %}
