{% extends 'base.html' %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">
    <h1>{{ header }}</h1>
    </div>
</div>

<div class="card-deck">
{% for event in events %}
 <div class="card">
   <div class="card-header">
    {{ event.start_date.strftime("%d.%m.%Y") }} | {{ event_categories[event.event_category] }}
   </div>
   <div class="card-body">
     <h5 class="card-title"><a href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">{{ event.event_name }}</a></h5>
     <p class="card-text">{{ event.event_description[:100]|safe }}</p>
    {% if current_user.is_authenticated and current_user.has_right('guide') %}
        <a class="card-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
    {% endif %}
    {% if current_user.is_authenticated and (current_user.has_right('guide') or current_user.participate_event(event.id)) %}
        <a class="card-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
    {% endif %}
   </div>
   <div class="card-footer">
    {% set numbers = event.get_numbers() %}
    {{ numbers['confirmed'] }}/{{ numbers['wait_for_confirm'] }}/{{ numbers['total_places'] }}, Warteliste: {{ numbers['waitlist'] }}
   </div>
 </div>
{% endfor %}
</div>
{% endblock %}
