{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% endif %}
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h1>{{event.event_name}}</h1>
    </div>
</div>

<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th>Buchungen</th>
      <th scope="col">Telefon</th>
      <th scope="col">E-Mail</th>
    {% if current_user.has_right('guide') %}
      <th scope="col">Gebursdatum</th>
      <th scope="col">Foto Optin</th>
      <th scope="col">Vereinsmitglied</th>
      <th scope="col">Extra Fragen</th>
    {% endif %}

    </tr>
  </thead>
  <tbody>
  {% for part in event.participations %}
    <tr>
      <th scope="row">1</th>
      <td>{% if part.user.data_optin or current_user.has_right('guide')%}{{part.user.phone}}{%else%} versteckt {% endif %}</td>
      <td>{% if part.user.data_optin or current_user.has_right('guide')%}{{part.user.email}}{%else%} versteckt {% endif %}</td>

    {% if current_user.has_right('guid') %}
      <td>{% if part.user.birthdate %}{{part.user.birthdate.date()}} {%endif%}</td>
      <td>{{part.user.media_optin}}</td>
      <td>{{part.user.club_member_confirmed}}</td>
      <td>
        <table>
        {% for field in event.custom_fields %}
            <tr>
             <th>{{ field.field_name }}</th>
             <td>{{ part.get_field(field.field_name) }}</td>
            </tr>
        {% endfor %}
        </table>
      </td>
    {% endif %}
    <td>{{part.comment}}</td>
    </tr>
    {% for ticket in part.tickets %}
    <tr>
      <th scope="row">T<th>
      {% if current_user.has_right('guide') %}
        <td colspan=6>
      {% else %}
        <td colspan=2>
      {% endif %}
          <table>
            <tr>
             <th>Ticket:</th><td>{{ ticket.tickets_name }}</td>
            </tr>
            <tr>
             <th>Name:</th><td>{{ ticket.name_on_ticket }}</td>
            </tr>
            <tr>
             <th>Waitlist:</th><td>{{ ticket.waitinglist }}</td>
            </tr>
            <tr>
             <th>Bestätigt:</th><td>{{ ticket.confirmed }}</td>
            </tr>
          </table>
      </td>
    </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block scripts %}
{{super()}}

{% if current_user.has_right('guid') %}
<script type="text/javascript">
$(document).ready(function(){
    $('.toggle_confirm').click(function() {
        var $this=$(this);
        var $url="{{url_for('EVENTS.endpoint_userconfirm')}}";
        var $current=$this.data('current');
        var $event_id=$this.data('event-id');
        var $user_id=$this.data('user-id');
        var $new_status = "True";
        if($current=='True'){
            $new_status = "False"
        }
        $.post( $url, { event_id: $event_id, status: $new_status, user_id: $user_id }, function(data) {
            console.log(data);
        });
    });

    $('.toggle_waitlist').click(function() {
        var $this=$(this);
        var $url="{{url_for('EVENTS.endpoint_waitinglist')}}";
        var $current=$this.data('current');
        var $event_id=$this.data('event-id');
        var $user_id=$this.data('user-id');
        var $new_status = "True";
        if($current=='True'){
            $new_status = "False"
        }
        $.post( $url, { event_id: $event_id, status: $new_status, user_id: $user_id }, function(data) {
            console.log(data);
        });
    });
});
</script>
{% endif %}
{% endblock %}
