{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<style>
 label: {
     margin-left: 5px;
     margin-right: 5px;
 }
</style>
<div style="background-color: #e9ecef; border-radius: .3rem; padding: 5px; margin: 5px;">
 <b>Filter:</b>
 <form  action="{{ url_for('EVENTS.page_list') }}" method="POST">
  <div class="form-row">
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_name) }}
    </div>
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_category) }}
    </div>
    <div class="form-group col-md-2">
    {{ wtf.form_field(search_form.filter_date) }}
    </div>
    <div class="form-group col-md-3">
    <label class="form-control-label">Optionen</label>
    {{ wtf.form_field(search_form.filter_future) }}
    {% if current_user.is_authenticated %}
    {{ wtf.form_field(search_form.filter_own) }}
    {% endif %}
    </div>
    <div class="form-group col-md-3">
        {{ wtf.form_field(search_form.filter_send) }}
        <a href="{{ url_for('EVENTS.page_list') }}" class="btn btn-secondary" role="button">Reset</a>
     {{ search_form.hidden_tag() }}
    </div>
  </div>
 </form>
</div>


<div class="row">
    <div class="col-sm-12">
    <h2>{{ header }}</h2>
    </div>
</div>

    <div class="card-columns">
    {% for event in events %}
     <div class="card">
       <div class="card-header">
        <b>{{ event.start_date.strftime("%d.%m.%Y") }}</b> | {{ event_categories[event.event_category] }}
       </div>
       <div class="card-body">
         <h5 class="card-title"><a href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">{{ event.event_name }}</a></h5>
         <p class="card-text">{{ event.event_teaser }}</p>
        {% if current_user.is_authenticated and current_user.has_right('guide') %}
            <a class="card-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
        {% endif %}
        {% if current_user.is_authenticated and (current_user.has_right('guide') or current_user.participate_event(event.id)) %}
            <a class="card-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
        {% endif %}
        {% if current_user.is_authenticated and current_user.participate_event(event.id) %}
            <a class="card-link" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
        {% endif %}
       </div>
       <div class="card-footer">
        {% set numbers = event.get_numbers() %}
        {{ numbers['confirmed'] }}/{{ numbers['wait_for_confirm'] }}/{{ numbers['total_places'] }}, Warteliste: {{ numbers['waitlist'] }}
       </div>
     </div>
    {% endfor %}
    </div>
{% endblock %}
