{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% endif %}
    {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
      </li>
    {% endif %}
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h1>{{event.event_name}}</h1>
    </div>
</div>

<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Buchungsdatum</th>
      <th scope="col">Tickets</th>
    </tr>
  </thead>
  <tbody>
  {% for part in participations %}
    <tr>
      <td>{{part.booking_date}}</td>
     <td>
     <table>
      <thead>
        <tr>
          <th scope="col">Ticket Name</th>
          <th scope="col">Name auf Ticket</th>
          <th scope="col">Bestätigt?</th>
          <th scope="col">Warteliste?</th>
        </tr>
      </thead>
      <tbody>
     {% for ticket in part.tickets %}
      <tr>
        <td>{{ticket.ticket_name }}</td>
        <td>{{ticket.name_on_ticket }}</td>
        <td>{{ticket.confirmed }}</td>
        <td>{{ticket.waitinglist }}</td>
      </tr>
     {% endfor %}
     </tbody>
     </table>
     </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
