{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_details', event_id=event.id) }}">Übersicht</a>
      </li>
    {% if current_user.is_authenticated %}
       {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_participants', event_id=event.id) }}">Teilnehmerliste</a>
      </li>
      {% endif %}
    {% if current_user.has_right('guide') or current_user.participate_event(event.id) %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('EVENTS.page_mybooking', event_id=event.id) }}">Meine Buchung</a>
      </li>
    {% endif %}
      {% if current_user.has_right('guide') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_admin', event_id=event.id) }}">Bearbeiten</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('EVENTS.page_create', event_id=event.id) }}">Klonen</a>
      </li>
      {% endif %}
    {% endif %}
    </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <h1>{{event.event_name}}</h1>
    </div>
</div>

<div class="row">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ticket Name</th>
      <th scope="col">Teilnehmer Name</th>
      <th scope="col">Teilnahme Bestätigt?</th>
      <th scope="col">Auf Warteliste?</th>
      <th scope="col">Buchungszeit</th>
    </tr>
  </thead>
  <tbody>
  {% for part in participations %}
     {% for ticket in part.tickets %}
      <tr>
        <td>{{ticket.ticket_name}}</td>
        <td><a class="far fa-user" 
               data-ticket-id="{{ ticket.ticket_id }}"
               data-name="{{ticket.name_on_ticket}}"
               data-toggle="modal" data-target="#editName"
               href='#' title="Name ändern"></a>
               <span id="user_{{ticket.ticket_id}}">{{ticket.name_on_ticket}}</span></td>
        <td>{{translate_bool(ticket.confirmed) }}</td>
        <td>{{translate_bool(ticket.waitinglist) }}</td>
        <td>{{part.booking_date.strftime('%d.%m.%Y %H:%M')}}</td>
      </tr>
     {% endfor %}
  {% endfor %}
  </tbody>
</table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="editName">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Name anpassen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="change_form" method="GET">
      <input id="new_name" name="new_name" class="form-control">
      <input id="ticket_id" name="ticket_id" type="hidden" class="form-control">
      <input id="event_id" name="event_id" type="hidden" class="form-control" value="{{event.id}}">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Neuen Namen speichern</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
      </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
    $(document).ready(function() {
        var modal = $('#editName');
        modal.on('show.bs.modal', function(e){
            var name = $(e.relatedTarget).data('name');
            var ticket_id = $(e.relatedTarget).data('ticket-id');
            $('#new_name').val(name);
            $('#ticket_id').val(ticket_id);
        });

        $('#change_form').on('submit', function(e){
            e.preventDefault();
            var raw = $('#change_form');
            var form = raw.serialize();
            var data_array = raw.serializeArray();
            var data = {}
            $.each(data_array, function(){
                data[this.name] = this.value;
            });
            $.post('/user/change_ticket', form, function(res){
                $('#user_'+data.ticket_id).html(data.new_name);
                modal.modal('hide');
            });
        });
    });

    </script>
{% endblock %}
